[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pytest = "*"
mypy = "*"
pre-commit = "*"
requests = "*"

[packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
